<html>
<head>
<meta charset="utf-8">
<title>91找游 - {$artInfo.title}</title>
<link href="/Public/youmi/style/css/bui_css.css" rel="stylesheet" type="text/css" />

</head>
<body> 

<div class="bodytitle"><div id="h_title">{$artInfo.title}</div></div>

<div class="subbox">  
<div class="bui_content_b">
  <div class="bui-content">
	  <div class="artcle_title">{$artInfo.title}</div>
	  <div class="artcle_time">时间: {$artInfo.modify_time|date="Y-m-d",###}</div>
	  <div class="artcle_con">{$artInfo.content}</div>
  </div>
</div>
</div>
</body>
</html>
